<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<br/><br/><br/><br/>
<center>
<div class="ui icon message" style="max-width: 700px;">
  <i class="notched circle loading icon"></i>
  <div class="content">
    <div class="header">
      Just a second
    </div>
    <p>We're generating a unique url for you.</p>
  </div>
</div>
</center>


<!--

  <div class="ui active dimmer">
    <div class="ui indeterminate text loader">Wait</div>
  </div>

<div>
  <span>generating invoice #{{invoice.invoiceString}}</span>
  <a href="#!/i/{{invoice.invoiceString}}">go to invoice</a>
</div>
-->
